.price {
  margin-top: 5px;

  &--small {
    font-size: 16px;
  }

  &--medium {
    font-size: 18px;
  }

  &--large {
    font-size: 20px;
  }

  &__sale {
    &--small {
      font-size: 14px;
      margin-left: 4px;
      text-decoration: line-through;
      opacity: 0.6;
    }
    &--medium {
      font-size: 16px;
      margin-left: 6px;
      text-decoration: line-through;
      opacity: 0.6;
    }
    &--large {
      font-size: 17px;
      margin-left: 6px;
      text-decoration: line-through;
      opacity: 0.6;
    }
  }
}
