.productReview {
  padding: 60px 0;
  background: $color-yellow;

  @media (min-width: 992px) {
    padding: 120px 0;
  }

  & strong {
    font-weight: 400;
  }

  .spr-container {
    border: none;
    padding: 0;
  }

  .spr-header-title {
    font-family: $main-font;
    font-size: 28px;
    margin-bottom: 24px;
    text-align: left;
  }

  .spr-summary {
    text-align: left;
  }

  // form styling
  .spr-review,
  .spr-form {
    border-color: #d9c480;
    padding: 24px 0 0 0;
  }

  .spr-form-title {
    margin-bottom: 10px;
    text-transform: none;
    letter-spacing: 0;
  }

  .spr-summary-actions-newreview {
    background: transparent;
    border: 1px solid #473d3b;
    display: inline-block;
    padding: 14px 16px 13px 16px;
    border-radius: 4px;
    margin-bottom: 0;
    -webkit-appearance: none;
    text-decoration: none;
    transition: ease-in-out 0.2s;
    cursor: pointer;
    color: $color-black;

    &:hover {
      background: $color-black;
      color: #fff;
    }

    @media (min-width: 475px) {
      float: right;
      margin-top: -16px;
    }
  }

  span.spr-summary-caption {
    position: relative;
    top: 30px;
    left: 15px;

    @media (min-width: 475px) {
      top: 0;
      left: 0;
    }
  }

  span.spr-summary-actions-togglereviews {
    position: relative;
    top: -30px;

    @media (min-width: 475px) {
      top: 0;
    }
  }

  .spr-form-review-rating {
    margin-top: 20px;
    margin-bottom: 30px;

    a {
      color: $color-black;
    }
  }

  .spr-icon.spr-icon-star-empty {
    opacity: 1;

    &:before {
      color: $color-black;
    }
  }

  span.spr-form-review-body-charactersremaining {
    display: none;
  }
  // input#review_author_5846137012383,
  // input#review_email_5846137012383,
  // input#review_title_5846137012383,
  // textarea#review_body_5846137012383,
  // input#review_author_5744012918943,
  // input#review_email_5744012918943,
  // input#review_title_5744012918943,
  // textarea#review_body_5744012918943
  .spr-form-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background: transparent;
    border-radius: 0;
    border: 1px solid #d5bf9c;
    padding: 17px 16px 15px 16px;
    font-family: $body-font;
    font-size: 16px;
    background: white;
    border-radius: 5px;
    outline: none;

    &.spr-starrating {
      padding: 0;
      border: none;
    }

    & textarea {
      border: none;
      padding: 0;
    }

    &::placeholder {
      color: $color-black;
      opacity: 0.5;
      font-family: $body-font;
    }
  }

  .spr-button-primary {
    -webkit-appearance: none;
    font-family: $body-font;
    font-size: 16px;
    background: $color-black;
    border: 1px solid #473d3b;
    display: inline-block;
    padding: 12px 16px 11px 16px;
    border-radius: 4px;
    margin-bottom: 0;
    -webkit-appearance: none;
    text-decoration: none;
    transition: ease-in-out 0.2s;
    cursor: pointer;
    color: #fff;

    &:hover {
      background: $color-green;
      color: $color-black;
    }
  }

  .spr-form-label {
    font-family: $body-font;
    font-size: 16px;
    margin-bottom: 15px;
  }

  .spr-form-label + .spr-form-input {
    margin-top: 8px;
  }

  // review styling
  .spr-review-content-body {
    font-size: 16px;
    line-height: 1.7;
  }

  .spr-review-header-title {
    text-transform: none;
    letter-spacing: 0;
    margin-top: 5px;
    font-size: 20px;
  }

  .spr-review-footer {
    display: none;
  }

  .spr-pagination {
    border-top: 1px solid #d9c480;
    padding: 18px 0 0 0;
  }

  span.spr-pagination-page {
    margin-right: 5px;
  }

  .spr-review:first-child {
    margin-top: 50px;
  }

  .spr-form-contact-name,
  .spr-form-contact-email,
  .spr-form-contact-location,
  .spr-form-review-title,
  .spr-form-review-body {
    margin-bottom: 20px;
  }

  .spr-review-header-byline {
    font-style: normal;
    font-size: 14px;
    display: inline-block;
    margin: 10px 0 20px 0;
  }

  // messages styling
  .spr-form-message-success {
    font-family: $body-font;
  }

  .spr-form-message-error {
    background: transparent;
    color: #d87557;
    border-radius: 2px;
    border: 1px solid #da8065;
    font-family: $main-font;
  }
}
